@import url(reset.css);
*,*:before,*:after{
    box-sizing: border-box;
}

body{
    -webkit-user-select: none;/*不允许用户执行选中操作*/
    -webkit-text-size-adjust: none;/*旋转屏幕时禁止调整文字大小*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);/*点击时不出现半透明框*/
}
input,select,textarea {
    -webkit-appearance: none; /*先去掉默认样式再修改*/
    -moz-appearance: none;
}
html,body,.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #333;
}
.wrapper{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    background: #f6f6f6;
    height: 100%;
}
.header{
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.header h1{
    line-height: 4.5rem;
    font-weight: normal;
    text-align: center;
    font-size: 17px;
    color: #333;
    background: #fff;
}
.header img{
    display: block;
    width: 2.4rem;
    height: auto;
    position: absolute;
    left: 1.2rem;
    top: 50%;
    margin-top: -1.1rem;
}

.main{
    margin-top: 1rem;
    border-top: 1px solid #DDDDDD;
}
.main ul li{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    height: 4.3rem;
    border-bottom: 1px solid #DDDDDD;
    background: white;
}
.main ul li .left{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin-left: 1rem;
}
.main ul li .left span{
    font-size: 16px;
}
.main ul li .right{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin-right: 1rem;
}
.main ul li .right .tel{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
 }
.main ul li .right .tel .person_name{
    font-size: 16px;
}
.main ul li .right .tel .person_tel{
    font-size: 12px;
}
.main ul li .right span{
    font-size: 16px;
}
.main ul li .right .person_logo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 0.5rem;
}
/*.main ul li .right .right_rarrow{*/
    /*width: 0.5rem;*/
    /*height: 1rem;*/
    /*margin-left: 0.5rem;*/
/*}*/
/*.main ul li:nth-of-type(4) .right span{*/
    /*font-size: 12px;*/
    /*color: #DDDDDD;*/
/*}*/
.main ul li:last-child{
    border-top: 1px solid #DDDDDD;
    margin-top: 1rem;
}